<!DOCTYPE html>
<html manifest="cache.manifest">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/handlebars")   
        @Scripts.Render("~/bundles/app")
</head>
    <body>
        <h1>Super Useful Culture Application</h1>
        <p>This incredible web application pushes the bounds of what is possible with web technologies</p>
        <p>it is a seminal shift in being able to list out at least one of the Culture ships from Excession</p>
        <p>@Html.ActionLink("Not heard of the Culture?!", "ThatOther", "Home")</p>

        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
